:root {
    --body-bg-color: #222d3c;
    --grid-area-bg-color: #313336;
    --text-color-light: #ffffff;
    --text-color-dark: #d1c8c8;
    --modal-overlay-bg-color: 0, 0, 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #d60038, #bb0062, #8c247c, #523681, #003973);
}

a {
    text-decoration: none;
}

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: bold;
}

.row {
    display: flex;
}

.row--align-v-center {
    align-items: center;
}

.row--align-h-center {
    justify-content: center;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 3.125rem calc(100% - 3.125rem);
    grid-template-rows: 3.125rem 4.750rem 1fr;
    grid-template-areas: 'fixedSideNav applicationTitle' 'fixedSideNav header' 'fixedSideNav main';
    height: 100vh;
    overflow-x: hidden;
}

.grid--noscroll {
    overflow-y: hidden;
}

.fixed-side-nav {
    grid-area: fixedSideNav;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, #d60038, #bb0062, #8c247c, #523681, #003973);
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    color: #555;
}

.fixed-side-nav-titlePlaceHolder {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 3px solid rgb(27, 149, 219);
    margin: 0.5rem auto;
}

.fixed-side-nav-itemPlaceHolder {
    width: 1.5rem;
    height: 1.5rem;
    background: #3c4d5e;
    margin: 0.5rem auto;
}

.application-title-bar {
    grid-area: applicationTitle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grid-area-bg-color);
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
    color: #ffffff;
    border-top-left-radius: 1rem;
}

.application-title-bar>i {
    color: var(--text-color-dark);
    margin-right: 1rem;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--grid-area-bg-color);
    box-sizing: border-box;
    flex-wrap: wrap;
}

.header-menu {
    position: fixed;
    padding: 0.813rem;
    right: 0.375rem;
    top: 0.250rem;
    background-color: #DADAE3;
    border-radius: 50%;
    z-index: 1000;
}

.header-search::before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 1rem;
    padding-left: 0.5em;
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
}

.header-input {
    border: none;
    border-radius: 1.250rem;
    background: #EAEDF1;
    padding: 0.250rem 0.750rem 0.250rem 2.5rem;
    font-size: 1rem;
    color: var(--text-color-light);
    width: 100%;
    margin-right: 1rem;
}

.header-input:focus {
    outline: none;
    border: none;
}

.header-searchFilter {
    color: #FFF;
    vertical-align: middle;
    padding: 0.5rem;
    background-color: #cd0162;
    border-radius: 50%;
    height: 1rem;
}

.text-white {
    color: #fff;
}

.sidenav {
    position: fixed;
    top: 3.125rem;
    left: 3.125rem;
    grid-area: sidenav;
    height: calc(100% - 3.125rem);
    overflow-y: auto;
    background-color: var(--grid-area-bg-color);
    color: var(--text-color-light);
    width: 15rem;
    transform: translateX(-18.313rem);
    transition: all .6s ease-in-out;
    border-right: 1px solid rgba(119, 119, 119, 0.25);
    border-bottom-left-radius: 1rem;
    z-index: 2;
}

.sidenav-close-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 1.5rem;
}

.sidenav-close-button {
    position: absolute;
    right: 0.500rem;
    top: 0.500rem;
    visibility: visible;
    color: var(--text-color-light);
    cursor: pointer;
}

.sidenav--active {
    transform: translateX(0);
}

.navList {
    width: 15rem;
    padding: 0;
    margin: 0;
    background-color: var(--grid-area-bg-color);
    list-style-type: none;
    margin-top: 0.625rem;
}

.navList-bottom {
    position: fixed;
    bottom: 0;
}

.navList-heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.750rem 1rem;
    color: var(--text-color-light);
    text-transform: capitalize;
    font-size: 0.833rem;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
    cursor: pointer;
}

.navList-heading-bottom {
    border-bottom: none;
    border-top: 1px solid rgba(119, 119, 119, 0.25);
}

.navList-heading-bottom:last-child {
    cursor: default;
}

.navList-heading>i {
    color: var(--text-color-dark);
    font-size: 1rem;
    width: 1rem;
}

.navList-heading-titleContainer {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.navList-heading-badge {
    background-color: #27ae60;
    border-radius: 0.5rem;
    color: #FFF;
    font-size: 0.750rem;
    padding: 0 0.5rem;
    text-align: center;
}

.navList-heading-brandTitle {
    font-size: 0.675rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    grid-area: main;
    background-color: var(--grid-area-bg-color);
    color: var(--text-color-light);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    overflow-x: auto;
}

.main-table-docked {
    color: #27ae60;
    font-size: 1rem;
}

.main-table-sharedWithCircleImage {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.mai-table-sharedWithBadge {
    background: #EAEDF1;
    color: #333333;
    font-size: 0.750rem;
    min-width: .5rem;
    padding: 0.375rem 0.5rem;
    border-radius: 50%;
    text-align: center;
    cursor: default;
}

.main-table-modifiedDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-table-expandCollapseIcon {
    background: rgb(29, 163, 216);
    color: var(--grid-area-bg-color);
    margin: 0.5rem;
    padding: 0.063rem 0.063rem 0 0.063rem;
}

.main-table-modifiedDate:hover .main-table-dashboardSetting {
    display: inline-block;
}

.main-table-lastModifiedDate {
    min-height: 1.375rem;
}

.main-table-dashboardSetting {
    cursor: pointer;
    display: none;
    color: rgb(29, 163, 216);
    font-size: 1rem;
}

.main-table-withoutChild {
    padding-left: 2rem;
}

.main-table-level1Child {
    padding-left: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th {
    background: var(--grid-area-bg-color);
    color: var(--text-color-light);
    font-weight: normal;
    text-transform: uppercase;
}

tbody>tr {
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
    ;
}

td,
th {
    padding: 0.750rem 0.5rem;
    font-size: 0.833rem;
    border: none;
    text-align: left;
}

td>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showBoundRight {
    text-align: right;
}

.showBoundRightBool {
    text-align: right;
    padding-right: 2.5%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--modal-overlay-bg-color), 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s ease-in-out 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1100;
}

.modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    transform: translate(0, 0);
    background-color: var(--grid-area-bg-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
    padding: 1rem;
}

.modal-title {
    width: calc(100% - 1.5rem);
    text-align: center;
    color: var(--text-color-dark);
}

.modal-close-button {
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    color: var(--text-color-dark);
}

.modal-close-button:hover {
    background-color: darkgray;
}

.modal-content {
    padding: 1rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s ease-in-out 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-dashboardDetails,
.modal-dashboardActions {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
}

.dashboardDetails-title,
.dashboardDetails-title-input,
.dashboardDetails-description,
.dashboardDetails-description-input,
.dashboardDetails-alertNotification,
.dashboardDetails-alertNotification-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--text-color-light);
}

.dashboardDetails-title-icon {
    width: 2rem;
}

.dashboardDetails-title-name {
    width: calc(100% - 4rem);
}

.dashboardDetails-title-inputName {
    font-size: 0.750rem;
    border: 1px solid rgba(119, 119, 119, 0.25);
    width: calc(100% - 5rem);
    padding: 0.5rem;
    border-radius: 0.250rem;
    background: #EAEDF1;
}

.dashboardDetails-title-inputIcon {
    font-size: 0.750rem;
    border: 1px solid rgba(119, 119, 119, 0.25);
    width: 2rem;
    padding: 0.5rem;
    border-radius: 0.250rem;
    background: #EAEDF1;
}

.dashboardDetails-description-textarea {
    font-size: 0.750rem;
    border: 1px solid rgba(119, 119, 119, 0.25);
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border-radius: 0.250rem;
    background: #EAEDF1;
    color: var(--text-color-light)
}

.dashboardDetails-alertNotification>span>i {
    color: lightgray;
}

.dashboardDetails-alertNotification-input {
    font-size: 0.750rem;
    border: 1px solid rgba(119, 119, 119, 0.25);
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border-radius: 0.250rem;
    background: #EAEDF1;
}

.dashboardDetails-saveBtn {
    padding: 0.5rem 1.5rem;
    border-radius: 1.125rem;
    font-size: 0.750rem;
    background: deepskyblue;
    color: #fff;
    text-transform: uppercase;
}

.dashboardActions-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-light);
    padding-top: 1rem;
}

.dashboardActions-option-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    background: #EAEDF1;
}

.dashboardActions-option-name {
    width: calc(100% - 2.5rem);
    font-size: 0.750rem;
    color: var(--text-color-dark);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 7.5rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.313rem 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 120%;
    margin-left: -3.750rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -0.313px;
    border-width: 0.313px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.ui-tooltip,
.arrow:after {
    background: #F9FAFC;
    border: 1px solid rgba(119, 119, 119, 0.25);
}

.ui-tooltip {
    padding: 10px 20px;
    color: var(--text-color-light);
    border-radius: 20px;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px var(--body-bg-color);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

@media only screen and (min-width: 47.500rem) {
    .grid {
        display: grid;
        grid-template-columns: 3.125rem 15rem calc(100% - 18.125rem);
        grid-template-rows: 3.125rem 4.750rem 1fr;
        grid-template-areas: 'fixedSideNav applicationTitle applicationTitle' 'fixedSideNav sidenav header' 'fixedSideNav sidenav main';
        height: 100vh;
    }
    .sidenav {
        transform: translateX(0);
        position: relative;
        height: 100%;
        top: 0;
        left: 0;
    }
    .sidenav-close-container {
        display: none;
    }
    .sidenav-close-button {
        visibility: hidden;
    }
    .header-menu {
        display: none !important;
    }
    .header-search {
        padding-left: 1.250rem;
    }
    .main {
        border-bottom-left-radius: 0;
    }
    .modal-dialog {
        width: 35%
    }
}